<p>employeeregistration works!</p>
<h1>Employee-Registration</h1>


<label>Name:</label>
<input type="text" [(ngModel)]="name">
<br>
<label>Age:</label>
<input type="number" [(ngModel)]="age">
<br>
<label>company:</label>
<input type="text" [(ngModel)]="company">
<br>
<label>Package:</label>
<input type="number" [(ngModel)]="package">
<br>
<button (click)="register()">register</button>
<br><br>


<table class="table table-dark">
    <thead>
        <tr>
            <th>S.no:</th>
            <th>Name</th>
            <th>Age</th>
            <th>Company</th>
            <th>Package</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees;let i=index">
            <td>{{ i+1 }}</td>
            <td>{{ employee.name }}</td>
            <td [ngStyle]="{'color':employee.age<18?'red':'green'}">{{ employee.age }}</td>
            <td>{{ employee.company }}</td>
            <td [ngStyle]="{'color':employee.package >= 10 ?'green':'red'}">{{ employee.package |package }}</td>
            <td>
                <button class="btn btn-danger" (click)="delete(i)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>