<div class="parent">

    <div class="left">

        <h6 routerLink="interpolation">interpolation</h6>
        <h6 routerLink="event-binding">event binding</h6>
        <h6 routerLink="two-way-binding">two-way-binding</h6>
        <h6 routerLink="calculator">calculator</h6>
        <h6 routerLink="rectangle">rectangle</h6>
        <h6 routerLink="triangle">triangle</h6>
        <h6 routerLink="square">square</h6>
        <h6 routerLink="power">power</h6>
        <h6 routerLink="event-registration">Event Registration</h6>
        <h6 routerLink="employee-registration">Employee-Registration</h6>
        <h6 routerLink="cart">Cart</h6>
        <h6 routerLink="customercompound">customercompound</h6> 
        <h6 routerLink="pipes">pipes</h6>
        <h6 routerLink="cars">cars</h6>
        <h6 routerLink="star">star</h6>
        <h6 routerLink="gpay">gpay</h6>
        <h6 routerLink="bank">bank</h6>
        <h6 routerLink="angular-life-cycle">angular-life-cycle</h6>
        <h6 routerLink="mail">mail</h6>

        <button routerLink="/login">logout</button>

    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
     
         

</div>